[submodule "libs/cppcodec"]
	path = libs/cppcodec
	url = https://github.com/tplgy/cppcodec.git
[submodule "libs/curl"]
	path = libs/curl
	url = https://github.com/curl/curl.git
[submodule "libs/jsoncpp"]
	path = libs/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
